AI_Assistant.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -160
      ],
      "id": "79012885-8f82-4e86-b644-9491bc0e27b2",
      "name": "Telegram Trigger",
      "webhookId": "6496bf7f-1857-483a-a7c8-999a319cb41b",
      "credentials": {
        "telegramApi": {
          "id": "LnUDRo6CrV7SrTaB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "841ed9f8-41f4-4748-bafb-9ab6631bfd4f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "текст"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db485983-ab6c-4bb0-8ead-126b0693c134",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "голос"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        144,
        -160
      ],
      "id": "5db9d6b9-64e0-4079-9194-d87afec095cc",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "RU",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        624,
        64
      ],
      "id": "bb6eda2b-ec8d-4d4d-87db-5a8eaa3b6b2b",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "4OmuEQpy0MYDRzqF",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3aa2b8a0-b2a7-4556-a46c-8b0afd050edf",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "331454e1-8cae-4854-91dd-45f9703340af",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -224
      ],
      "id": "0b3a57a7-c0e8-4034-9182-b6d510a49ba3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        64
      ],
      "id": "9c7b8685-b3e3-4683-8352-a5d27012f911",
      "name": "Get a file",
      "webhookId": "66e38686-0d76-4982-8f71-ac797038c228",
      "credentials": {
        "telegramApi": {
          "id": "LnUDRo6CrV7SrTaB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=#overview\n\nYou're my personal google calendar assistant. You are in charge of maintaining my personal calendar\n\n##instructions\n\n1) get_events\n- use the get_events tool when a user asks you to check events in the calendar.\n- use get_events before you use any other tool in google calendar.\n\n2) create\n- use the create tool to create events in google calendar\ntoday is {{ $now }}\n\nif you do your job well, I'll give you $1,000"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        944,
        -48
      ],
      "id": "ebe2ce15-5cb3-4ffd-839e-e8db07f1753a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        272
      ],
      "id": "07a8b756-7ded-49e7-adc6-366cefc23e17",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4OmuEQpy0MYDRzqF",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "= {{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -48
      ],
      "id": "35c6c4bf-4872-441b-bfe5-7414344d5d76",
      "name": "Send a text message",
      "webhookId": "4981f4fc-3b5e-4adc-a399-3f7fb5f2fe09",
      "credentials": {
        "telegramApi": {
          "id": "LnUDRo6CrV7SrTaB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "temirlan.ualikhayim@jihc.edu.kz",
          "mode": "list",
          "cachedResultName": "temirlan.ualikhayim@jihc.edu.kz"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1408,
        240
      ],
      "id": "a4a48fdf-e9e6-4529-9e47-06df38d3515b",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SCJ9ZLvzqjTQTtGd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "temirlan.ualikhayim@jihc.edu.kz",
          "mode": "list",
          "cachedResultName": "temirlan.ualikhayim@jihc.edu.kz"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1024,
        304
      ],
      "id": "e4ec8267-953d-4bf4-958e-72de7be42085",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SCJ9ZLvzqjTQTtGd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "temirlan.ualikhayim@jihc.edu.kz",
          "mode": "list",
          "cachedResultName": "temirlan.ualikhayim@jihc.edu.kz"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1152,
        288
      ],
      "id": "63830f25-c418-48bf-a6d9-96adff4f9a62",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SCJ9ZLvzqjTQTtGd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "temirlan.ualikhayim@jihc.edu.kz",
          "mode": "list",
          "cachedResultName": "temirlan.ualikhayim@jihc.edu.kz"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1312,
        288
      ],
      "id": "d586cbae-4271-4cb1-9f0c-ec684745cd1f",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SCJ9ZLvzqjTQTtGd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/user/repos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        416
      ],
      "id": "5a305542-899a-404b-93f7-6acf199784f4",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bec1a74-8103-46d9-9231-09c273a14426",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82df933ec8009df2bc657445c5dbcce507dc3ece20c7f7f3885bcf4e36b54c1"
  },
  "id": "0Lnk1ctqH6WtJn3d",
  "tags": []
}
